* {
  text-align: center;
  margin-top: 10px;
  color: dimgrey;
}

.true {
  color: green;
}
.false {
  color: red;
}
@media only screen and (min-width: 760px) {
  form {
    margin-left: 500px;
    margin-right: 500px;
  }
}
