*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
.center-div{
  width: 100vw;
  height: 100vh;
  background-color: hsl(206deg, 21%, 94%);
}
.logo{
  width: 15rem;
  height: 15rem;
  background-color: tomato;
}