body{
  width: 100vw;
  height: 100vh;
  background: rgb(182, 206, 188);
  display: flex;
  align-items: center;
  justify-content: center ;
}

form{
  display: grid;
  grid-template-columns:auto 1fr;
  grid-gap: .2em;
}
form label{
  display: contents;
}