*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-div{
  width: 100vw;
  height: auto;
  padding: 2rem 0;
  box-sizing: border-box;
  background: rgb(54, 44, 78);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}
.center{
  width: 1300px;
  height: 15rem;
  background-image: url('https://placeimg.com/1300/320/animals/grayscale');
  display: flex;
  align-items: center;
  justify-content: center;
}
p{
  font-size: 8rem;
  font-weight: 1000;
  padding: .5rem;
}

.div1 p{
background: black;
color: white;
mix-blend-mode: multiply;
}
.div2 p{
  background: rgb(126, 96, 238);
  color: rgb(208, 207, 219);
  mix-blend-mode: screen;
}

.div3 p{
  background: white;
  color: black;
  mix-blend-mode: multiply;
}

.div4 p{
  background: rgb(126, 96, 238);
  color: rgb(208, 207, 219);
  mix-blend-mode: multiply;
}

