*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-header{
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}
.design{
  position: relative;
  width: 400px;
  height: 400px;
}
.design > *, .blend > *{
  position: absolute;
  width: 280px;
  height: 280px;
}
#rotateBorder{
  border:15px #eb311f solid;
  transform: rotate(45deg);
  box-shadow: 0 0 10px #eb322f, inset 0 0 10px #eb322f;
}
.grid{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns:1fr 1fr;
}
.data-white{
  background-color: white;
}
.blend{
  /* ---to use for transparent -----  */
  mix-blend-mode: multiply;       
}
img{
  object-fit: cover;
  box-shadow: 0 0 10px #bac3c3;
}

@media screen and (max-width:768px){
  .design{
    width: 180px;
    height: 250px;
  }
  .design > *, .blend > *{
    width: 180px;
    height: 180px;
  }
}