// variables
$tran: all 0.4s linear;

html{
  font-size: 62.5%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.main_div{
  width: 100vw;
  height: 100vh;
  background-color: hsl(0, 0%, 94%);
  display: grid;
  place-items: center;
}
.center_div{
  width: 20vw;
  height: 60vh;
  background-color: red;
  position: relative;
  box-shadow: 
  0 2.8px 2.2px rgba(0,0,0,0.034),
  0 6.7px 5.3px rgba(0,0,0,0.048),
  0 12.5px 10px rgba(0,0,0,0.06),
  0 22.3px 17.9px rgba(0,0,0,0.072),
  0 41.8px 33.4px rgba(0,0,0,0.086),
  0 100px 80px rgba(0,0,0,0.12);
  overflow: hidden;

  & .caption{
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: $tran;
  }
  & img{
    width: 100%;
    height:100%;
    object-fit: cover;
  }
  & .caption h1 {
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-top: 40rem;
    transition: $tran;

    & p{
      text-transform: capitalize;
    }
  }
  
  &:hover img{
  transform: scale(1.3) rotate(13deg);
  }
  &:hover .caption{
    opacity: 1;
  }
  &:hover .caption h1{
    margin-top: 0;
  }
  
  
}
